/*
** BUTTONS
*/

.button {
  line-height: 40px;
}

.buttonSecondary {
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 16px;
  line-height: 44px;
  padding: 0 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
    background-color: white;
    color: black;
  }
}