/*
** FOOTER
*/

.footer {
  border-top: 1px solid #eee;
  color: #cccccc;
  font-size: 13px;
  letter-spacing: .4rem;
  margin: 1rem 5rem 1rem;
  padding: 2rem 2rem 1rem;
  text-align: center;
  text-transform: uppercase;
}