.listItem {
  display: inline-block;
  margin: 0;
}

.listLink {
  color: white;
  display: block;
  line-height: 2rem;
  opacity: .7;
  padding: .2rem 1rem;
  text-decoration: none;
}

.listLink:hover {
  opacity: 1;
}