/*
** GALLERY
*/

.galleryBox {
  flex: 1;
  flex-basis: calc(100% / 3 - .66666667rem);
  flex-grow: unset;
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;

  &:nth-child(3n) {
    margin-right: 0;
  }

  a {
    display: block;
    text-align: center;
  }
}

.galleryBoxImage {
  height: 220px;
  object-fit: cover;
}

.galleryBoxTitle {
  color: white;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-shadow: 0 1px 4px rgba(0,0,0,.6);
  transform: translateY(-50%);
  z-index: 2;
}

.overlay {
  background-color: black;
  opacity: .3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.overlayFeaturedImage {
  background-color: black;
  opacity: .3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}