/*
** MASONRY
*/

.grid-masonry {
  background: $white;
  list-style: none;
  margin: 0 1.25%;

  @media only screen and (max-width: $mq-sm) {
    margin: 0 2%;
  }
  @media only screen and (max-width: $mq-xs) {
    margin: 0 3%;
  }
}

/* clearfix */
.grid-masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-masonry-sizer,
.grid-masonry-item {
  width: calc((100% - (1.25% * 3)) / 4);
  @media only screen and (max-width: $mq-md) {
    width: calc((100% - (1.25% * 2)) / 3);
  }
  @media only screen and (max-width: $mq-sm) {
    width: calc((100% - 2%) / 2);
  }
  @media only screen and (max-width: $mq-xs) {
    width: 100%;
  }
}

.grid-masonry-item {
  float: left;
  margin-bottom: 1.25%;

  @media only screen and (max-width: $mq-sm) {
    margin-bottom: 2%;
  }
}

.grid-masonry-sizer {
  margin-bottom: calc(-1.45rem / 2);

  @media only screen and (max-width: $mq-sm) {
    margin-bottom: 2%;
  }
}

.masonry-gutter-sizer {
  width: 1.25%;

  @media only screen and (max-width: $mq-sm) {
    margin-bottom: 1.25%;
    width: 2%;
  }

  @media only screen and (max-width: $mq-xs) {
    width: 2%;
  }
}