/*
** MASONRY
*/

.grid-masonry {
  background: #EEE;
  list-style: none;
  margin: 0;
}

/* clearfix */
.grid-masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-masonry-item {
  width: 25%;
  @media only screen and (max-width: $mq-md) {
    width: calc(100%/3);
  }
  @media only screen and (max-width: $mq-sm) {
    width: calc(100%/2);
  }
}
.grid-masonry-item {
  float: left;
  margin-bottom: 0;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }